body {
    font-family: 'Segoe UI', sans-serif;
    padding-top: 5%;
    text-align: center;
    background: white;
    width: 100%;
    height: 100%;
}

#reservationDetails {
    border: 2px solid rgb(237, 229, 229);
    background-color: rgb(246, 245, 245);
    border-radius: 10px;
    border-width: 5px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0px 50px 50px 0px grey;
}

#originalReservation {
    border-top: 3.5px solid rgb(231, 226, 226);
    border-bottom: 3.5px solid rgb(231, 226, 226);
    margin-bottom: 2%;
}

#ComputerLabLabel {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

#NewComputerLaboratoryBox {
    border-bottom: 3.5px solid rgb(231, 226, 226);
    padding-bottom: 1.5%;
    margin-bottom: 2%;
}
.ComputerLab{
    display: none;
}

.ComputerLab + label{
    display: inline-block;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    border-color: cadetblue;
    background-color: white;
    font-size: 12px;
    font-family: 'Tahoma';
    cursor: pointer;
    border-radius: 5px;
    margin: 7.5px;
    transition: all 0.3s;
}

.ComputerLab:checked + label {
    background-color: cadetblue;
    color: white;
}

.ComputerLab + label:hover {
    background-color: lightblue;
    color: black;
}

#NewDateBox {
    border-bottom: 3.5px solid rgb(231, 226, 226);
    padding-bottom: 1.5%;
    margin-bottom: 2%;
}

#DateLabel {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

#NewTimeSlotsBox {
    border-bottom: 3.5px solid rgb(231, 226, 226);
    padding-bottom: 1.5%;
    margin-bottom: 2%;
}

#TimeSlotsLabel {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

.button {
    font-size: small;
    width: 175px;
    height: 25px;
    border-radius: 20px;
    font-family: 'Tahoma';
    margin: 2%;
    margin-bottom: 4%;
    border: 2px solid;
    background-color: white;
    cursor: pointer;
    transition: 0.3s all;
}

.button:hover{
    background-color:rgb(116, 120, 124);
    color: white;
    border-radius: 20px;
    border: 2px solid black;
}

#BackToHome{
    
    padding: 7.5px;
    border: 2px solid;
    border-radius: 30px;
    font-size: medium;
    text-decoration: none;
    color: white;
    background-color: #007e48   ;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 15px;
}

.timeslots input{
    display: none;
}

.timeslots label{
    display: inline-block;
    align-items: center;
    padding: 20px;
    border: 2px solid;
    border-color: cadetblue;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 110px;
    height: 25px;
    cursor: pointer;
    font-family: 'Tahoma';
    margin: 2%;
}

.timeslots input:checked + label{
    background-color: #04AA6D;
    color: white;
}