body {
    font-family: 'Segoe UI', sans-serif;
    padding-top: 5%;
    text-align: center;
    background: white;
    width: 100%;
    height: 100%;
}

#main-header {
  background-color: #007e48;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
  grid-area: header;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #007e48;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
    background: #00ab1f;
  }

.button {
    font-size: small;
    width: 150px;
    height: 25px;
    border-radius: 20px;
    font-family: 'Tahoma';
    margin: 2%;
    border: 2px solid;
    background-color: white;
    cursor: pointer;
    transition: 0.3s all;
}

.button:hover{
    background-color:rgb(116, 120, 124);
    color: white;
    border-radius: 20px;
    border: 2px solid black;
}}

