body {
  font-family: 'Segoe UI', sans-serif;
  background: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;          
}

.container {
  width: 800px;
  max-width: 100%;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.back{
  display: inline-block;
  padding: 10px 20px;
  background: #007e48;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}
.back:hover {
  background: #00ab1f;
}

.editprof {
  display: inline-block;
  padding: 10px 20px;
  background: #007e48;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 10px;
}
.editprof:hover {
  background: #00ab1f;
}

.prof_pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  color: white;
  font-size: 38px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 14px rgba(45, 80, 120, 0.1);
  border: 3px solid white;
  overflow: hidden;
  margin-left:-150px;
  margin-right: 20px;
}

.prof_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile {
  background: #a4ceb1;
  border-radius: 25px;
  padding: 40px 200px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  box-shadow: 
      0 10px 20px rgba(102, 126, 234, 0.15),
      inset 0 1px 3px rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  max-width: 80%;
  max-height: 150px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}

h2 {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

.role {
  background: white;
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  max-width: 120px;
  max-height: 30px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.description {
  background: beige;
  max-width: 900px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h4 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}

.edit {
  margin:auto;
  width:60%;
  max-width: 600px;
  margin-top: -20px;
}

label {
  width: 150px;
  margin-bottom: 5px;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
input {
  padding: 8px 12px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 30px;
}

.save {
  width: 75%;
  padding: 14px;
  background: linear-gradient(140deg, #007e48, #005a33);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  margin-right:auto;
  margin-left: auto;
  display: block;
}
.save:hover {
  background: #00ab1f;
}

.reserve_container{
  position: relative;
  border: 1px solid #ccc;
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: darkgray;
  margin-top: 30px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.reservations {
  position: relative;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

