body {
    font-family: 'Segoe UI', sans-serif;
    padding-top: 5%;
    text-align: center;
    background: white;
    width: 100%;
    height: 100%;
}

#reserve_outerContainer {
    border: 2px solid rgb(237, 229, 229);
    background-color: rgb(246, 245, 245);
    border-radius: 10px;
    border-width: 5px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0px 50px 50px 0px grey;
}

#reserve_computerLabBox {
    border-top: 3.5px solid rgb(231, 226, 226);
    border-bottom: 3.5px solid rgb(231, 226, 226);
}

#reserve_dateBox{
    margin-top: 1%;
    padding-bottom: 1.5%;
    margin-bottom: 2%;
    border-bottom: 3.5px solid rgb(231, 226, 226);
}


.checkboxContainer {
    display: block;
    font-weight: bold;
    font-size: large;
}


.reserve_timeslotBox {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 3.5px solid rgb(231, 226, 226);
}

.box1 input{
    display: none;
}

.box1 label{
    display: inline-block;
    align-items: center;
    padding: 20px;
    border: 2px solid;
    border-color: cadetblue;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 110px;
    height: 25px;
    cursor: pointer;
    font-family: 'Tahoma';
    margin: 2%;
}

.box1 input:checked + label{
    background-color: #04AA6D;
    color: white;
}

.box1 input:disabled + label{
    background-color: rgb(255, 0, 0);
    color: white;
    border-color: rgb(255, 0, 0);;
}

#reserve_anonymous{
    width: 12px;
    height: 12px;
}

#reserve_anonymous + label{
    margin-bottom: 0;
}

#reserve_anonymous input:checked{
    color: #04AA6D;
}

.button {
    font-size: small;
    width: 150px;
    height: 25px;
    border-radius: 20px;
    font-family: 'Tahoma';
    margin: 2%;
    border: 2px solid;
    background-color: white;
    cursor: pointer;
    transition: 0.3s all;
}

.button:hover{
    background-color:rgb(116, 120, 124);
    color: white;
    border-radius: 20px;
    border: 2px solid black;
}

#BackToHome{
    
    padding: 7.5px;
    border: 2px solid;
    border-radius: 30px;
    font-size: medium;
    float: left;
    text-decoration: none;
    color: white;
    background-color: #007e48   ;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 15px;
}

.submit :disabled{
    background-color: white;
    color: lightgray;
    border: 2px solid lightgray;
    border-radius: 20px;
}

