/* Element selector */
body {
  margin: 0;
  font-family: 'Arial','Arimo';
  background-color: #ffffff;
  color: #000000;
}

/* ID selector */
#main-header {
  background-color: #007e48;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
  grid-area: header;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #007e48;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
    background: #00ab1f;
  }

