body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: white;
    width: 100%;
    height: 100%;
}


#reservationsContainer {
  margin-top: 20px;
}

.reservation-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  width: 350px;
}

.edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007e48;
  color: white;
}

.edit-btn:hover {
  background-color: #00ab1f;
}

#BackToHome{
    
    padding: 10.5px;
    border: 2px solid;
    border-radius: 30px;
    font-size: medium;
    float: left;
    text-decoration: none;
    color: white;
    background-color: #007e48   ;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 15px;
}