body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: white;
    width: 100%;
    height: 100%;
}

#slots {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; 
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #e8f5e9;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  height: 60px; 
  transition: transform 0.1s;
}

.slot:hover {
  transform: scale(1.05);
}

.slot.reserved {
  background-color: #eeff82;
  cursor: not-allowed;
}

#BackToHome{
    
    padding: 10.5px;
    border: 2px solid;
    border-radius: 30px;
    font-size: medium;
    float: left;
    text-decoration: none;
    color: white;
    background-color: #007e48   ;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 15px;
}